$color-white-70: rgba(255, 255, 255, 0.7);
$color-white: #ffffff;
$color-off-white: #f5f7f9;
$color-gray-100: #d2dae0;
$color-gray-200: #879298;
$color-gray-300: #6e8091;
$color-gray-400: #5f6e76;
$color-gray-500: #4b5966;
$color-black: #14212b;
$color-primary: #4362d0;

$font-display: normal 700 1.5rem "Pretendard";
$font-title-md: normal 700 1rem "Pretendard";
$font-title-sm: normal 700 0.875rem "Pretendard";
$font-title-xs: normal bold 0.75rem "Pretendard";
$font-body-md: normal 500 1rem / 22px "Pretendard";
$font-body-sm: normal 500 0.875rem "Pretendard";
$font-body-xs: normal 500 0.75rem "Pretendard";
