.btn__box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1073px;
  height: 40px;
  display: flex;
  justify-content: space-between;

  > button {
    cursor: pointer;
    padding: 20px 12px;
  }

  &--prev {
    position: fixed;
    top: 0;
    background: url(../images/LeftButton.png) no-repeat center / cover;
  }

  &--next {
    position: fixed;
    top: 0;
    right: 0;
    background: url(../images/RightButton.png) no-repeat center / cover;
  }
}
